@page "/"

<PageTitle>Home</PageTitle>

<h1>My Garage</h1>

<p>Welcome to Your Garage.</p>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 tile">
            <a href="/vehicles">
                <img src="./images/car.svg" height="64" />
                <h3>Vehicles</h3>
            </a>
            <p>My Vehicles.</p>
        </div>
        <div class="col-md-4 tile">
            <a href="/gallery">
                <img src="./images/gallery-svgrepo-com.svg" height="64" />
                <h3>Gallery</h3>
            </a>
            <p>See images of vehicles</p>
        </div>
        <div class="col-md-4 tile">
            <a href="/data">
                <img src="./images/data-center-data-warehouse-svgrepo-com.svg" height="64" />
                <h3>Data</h3>
            </a>
            <p>Reset and seed data</p>
        </div>
    </div>
</div>
